@use "sass:color";

$color-primary: #D3F4FF;
$color-primary-shadow: color.scale($color-primary, $lightness: -15%);

$color-secondary: #6889A8;
$color-secondary-shadow: color.scale($color-secondary, $lightness: -30%);

$color-third: #9EADBD;
$color-third-shadow: color.scale($color-third, $lightness: -50%);

$color-accent: #E6F4F1;

$color-bonus: #FCFCD4;
$color-black: #3A4856;