@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/DM-Sans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/DM-Sans-Medium.ttf") format("truetype");
}