@use "sass:math";

// Main height of header

$header-height: 4rem;

// Media querty grid

$columns: 12;
$column-base-width: math.div(100%, $columns);

$breakpoint-sm: 200px;
$breakpoint-md: 760px;
$breakpoint-lg: 1366px;
$breakpoint-xl: 1920px;

