.header {
  width: 100%;
  height: $header-height;

  background-color: $color-primary;
  box-shadow: 0 3px 3px $color-primary-shadow;

}

.hamburger {   // hamburger menu
  @include mobile {
    display: flex;
    align-items: center;

    cursor: pointer;

    position: relative;

    width: 2rem;
    height: $header-height;

      .bigMacOff {
        width: 100%;

        border: 1px solid $color-accent;
        border-radius: 0.7rem;

          &::after, &::before {
            position: absolute;
            content: '';

            left: 0;
            right: 0; 
    
            border: 1px solid $color-accent;
            border-radius: 0.7rem;
          }
        
          &::after {
            top: 1.1rem;
          }

          &::before {
            bottom: 1.1rem;
          }
        }

      .bigMacOn {  // Klikniecie w menu
        width: 100%;

        border: 0;
      
        &::after, &::before {
          position: absolute;
          content: '';

          left: 0;
          right: 0; 
    
          border: 1px solid $color-accent;
          border-radius: 0.7rem;
          transition: transform 0.4s ease;
        }
        
        &::after {
          top: 2rem;
          transform: rotate(45deg);
        }

        &::before {
          bottom: 1.45rem;
          transform: rotate(315deg);
        }
      }
  }

  // hide hamburger menu on bigger devices

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
  @include bigScreen {
    display: none;
  }

} // end hamburger

@keyframes hamburgerMenuSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  @include mobile {
    display: none;
  }

  position: relative;
}

.menuMobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: $header-height;
  padding: 2rem 2rem;

  animation: hamburgerMenuSlide 0.4s ease-in-out;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 50%;

  box-shadow: 0 1px 6px $color-bonus;

  a {
    text-align: center;
    font-size: 1.5rem;
    color: $color-secondary-shadow;

    padding: 1.5rem 0;
    width: 50%;

    &:nth-child(1) {
      border-bottom: 1px solid $color-secondary;
    }

    &:nth-child(2) {
      border-bottom: 1px solid $color-secondary;
    }

    &:nth-child(3) {
      border-bottom: 1px solid $color-secondary;
    }

    &:nth-child(4) {
      border-bottom: 1px solid $color-secondary;

      margin-bottom: 1rem;
    }

    &:hover, &:active {
      color: $color-secondary;

      transition: 0.3s;
    }
  }
}

  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: $header-height;

    @include mobile {
      a {
        font-size: 1rem;
        font-weight: 400;
        color: $color-accent;
      }
    }
  }