.header {
  width: 100%;
  height: $header-height;

  background-color: $color-primary;
}

.hamburger {          // hamburger menu
  display: flex;
  align-items: center;

  height: $header-height;

  border: 1px solid red;  // border

  position: relative;

    .bigMac {
      width: 1.75rem;

      border: 2px solid $color-accent;
      border-radius: 0.7rem;

        &::after, &::before {
          position: absolute;
          content: '';

          left: 0; 

          width: 1.5rem;
    
          border: 2px solid $color-accent;
          border-radius: 0.7rem;
        }
        
        &::after {
          top: 1rem;
        }

        &::before {
          bottom: 1rem;
 
        }
      
    }
}

.logo {                 
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: $header-height;

  text-transform: lowercase;
  font-size: 1.5rem;
  font-weight: 400;
  color: $color-accent;

  border: 1px solid blue;   // border
}