@mixin watch {
  @media screen and (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

  @mixin bigScreen {
    @media screen and (min-width: $breakpoint-xl) {
      @content;
    }
}

.container {
  width: 100vw;
  margin: 0 auto;
  padding: 0 1rem;

  font-family: "Roboto", sans-serif;
  
}
