.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @media screen and (min-width: $breakpoint-xl) {
    max-width: $breakpoint-xl;
  }

  @media screen and (min-width: $breakpoint-lg) {
    max-width: $breakpoint-lg;
  }

  @media screen and (min-width: $breakpoint-md) {
    max-width: $breakpoint-md;
  }
}