@use "sass:math";

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;

  [class*='col-'] {
    min-height: 1px;
    width: $column-base-width;
  }

  @media (min-width: $breakpoint-sm) {
    @for $i from 1 through $columns {
      .col-sm-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    @for $i from 1 through $columns {
      .col-md-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    @for $i from 1 through $columns {
      .col-lg-#{$i} {
        width: $column-base-width * $i;
      }
    }
  }
}